/* Element Selectors */
body {
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 100%;
  background-color: #cf6712;
}
  
a {
  color: #000000;
  text-decoration: none;
}

button {
  display: inline-block;
  margin: 10px;
  font-size: 100%;
  background-color: #000000;
  border-radius: 10px;
  padding: 5px 15px;
  color: #fff;
}

/* Decided to try and give the button an inverted look on hover */
button:hover {
  background-color: #ffffff;
  color: #000000;
}

ol {
  position: relative;
  max-height: 300px;
}
  
li {
  padding: 5px;
  list-style: decimal inside;
}

/* Class Selectors */
.container {
  margin: 100px auto 0 auto;
  max-width: 500px;
}

/* discovered a hide is necesary for this so that other text do not appear on the entire page during the questions portion */
.hide {
  display: none;
}

  
.choices button {
  display: inline-block;
}

.start {
  text-align: center;
}

.response {
  font-size: 100%;
  margin-top: 20px;
  padding-top: 10px;
  color: #000000;
  border-top: 5px solid;
}

/* matched position for timer and scoresheet to both appear in the respective top corners */
.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

  
.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}  